<app-header [titulo]="title" color="primary"></app-header>

 


<ion-content class="ion-padding">

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
 
  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur quidem quisquam sequi aperiam minima assumenda labore, perferendis alias iusto odit nisi perspiciatis sunt voluptas reiciendis! Culpa facilis minus sed cum!      
    </ion-card-content>

  </ion-card>

  <ion-card mode="ios">
    <img src="https://res.cloudinary.com/simpleview/image/upload/v1574367534/clients/quintanaroo/fotogaleria_1352922621_family_cancun_08_0432beda-364b-4cbb-b043-024ea3a2c4fc.jpg">
  
  <ion-card-content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur quidem quisquam sequi aperiam minima assumenda labore!      
  </ion-card-content>
  </ion-card>
</ion-content>
